{% set user = salt['pillar.get']('users:primary-user') %}
{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'steam': 'chocolatey.installed'
    }
  },
  'Arch': {
    'installer': {
      'steam': {
        'cmd.run': [
          {'unless': 'flatpak list | grep Steam'},
          {'runas': user},
          {'name': ' flatpak install -y flathub com.valvesoftware.Steam'}
        ]
      },
    },
  },
}, merge=salt['pillar.get']('steam:lookup')) %}
