{% set user = salt['pillar.get']('users:primary-user') %}
{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'moneydance': 'chocolatey.installed'
    }
  },
  'Arch': {
    'installer': {
      'moneydance': {
        'cmd.run': [
          {'unless': 'pacman -Qi moneydance'},
          {'runas': 'aur-builder'},
          {'name': 'yay -S moneydance --noconfirm'}
        ]
      },
    },
  },
}, merge=salt['pillar.get']('moneydance:lookup')) %}
