{% set user = salt['pillar.get']('users:primary-user') %}
{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      discord: 'chocolatey.installed',
    },
  },
  'Arch': {
    'package': 'discord',
    'installer': {
      'discord': {
        'cmd.run': [
          {'unless': 'flatpak list | grep discord'},
          {'runas': user},
          {'name': ' flatpak install -y flathub com.discordapp.Discord'}
        ]
      },
    },
  },
}, merge=salt['pillar.get']('discord:lookup')) %}
