{% set user = salt['pillar.get']('users:primary-user') %}
{% set discord = salt['grains.filter_by']({
    'Windows': {
        'package': 'discord',
        'installer': 'chocolatey.installed'
    },
    'Arch': {
        'package': 'discord',
        'installer': {
          'cmd.run': [
            {'unless': 'flatpak list | grep discord'},
            {'runas': user},
            {'name': ' flatpak install -y flathub com.discordapp.Discord'}
          ]
        }
    },
}, merge=salt['pillar.get']('discord:lookup')) %}
