{% set user = salt['pillar.get']('users:primary-user') %}
{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'gimp': 'chocolatey.installed'
    }
  },
  'Arch': {
    'installer': {
      'gimp': 'pkg.installed'
    }
  },
}, merge=salt['pillar.get']('gimp:lookup')) %}
