{% set user = salt['pillar.get']('users:primary-user') %}
{% set gimp = salt['grains.filter_by']({
    'Windows': {
        'package': 'gimp',
        'installer': 'chocolatey.installed'
    },
    'Arch': {
        'package': 'gimp',
        'installer': 'pkg.installed'
    },
}, merge=salt['pillar.get']('gimp:lookup')) %}
