{% set config = salt['grains.filter_by']({
  'Windows': {
    'installer': {
      'firefox': 'chocolatey.installed'
    }
  },
  'MacOS': {
    'installer': {
      'homebrew/cask/firefox': 'pkg.installed'
    }
  },
  'Arch': {
    'installer': {
      'firefox': 'pkg.installed'
    }
  },
}, merge=salt['pillar.get']('firefox:lookup')) %}
